---

import WListDB from './logos/WListDB'
import WListDBHero from '../images/wlistdb-hero.webp'
import { Image } from 'astro:assets'
import projects from '../data/projects'
// @ts-ignore
import { localizePath } from "astro-i18next"

const jobs = [
  {
    title: 'WListDB',
    description: 'I made a new version of the frontend with Nextjs (version 14), combining Material UI with the old design. Some features implemented: - Connection to Backend - Authentication - Light/Dark Themes (added in this version) - Multi-language (added in this version) - Server Side Rendering (added in this version)',
    desc: 'Redoing frontend development with Nextjs, implementing connection to backend, multi-language, Server Side Rendering, etc. Creation of new design mixing Material UI design system with its previous version.',
    logo: WListDB,
    image: WListDBHero,
    // link: 'https://wlistdb.com/',
    link: '/works/wlistdb',
    bg: 'bg-[#7750f8]'
  }
]
---

<ul class='flex flex-col gap-4 py-6 w-full md:gap-8'>
{
  projects.map(job => (
    <li class="showUp">
      <a href={localizePath(`/jobs/${job.slug}`)} class="group w-full flex flex-col-reverse items-center justify-around rounded-md gap-4 px-2 py-4 transition-all ease-in-out duration-200 sm:flex-row md:gap-6 md:p-4 md:h-[150px] hover:bg-slate-700">
        <div class="w-full overflow-hidden flex justify-center items-center rounded-lg sm:w-1/2 md:h-full md:w-fit">
          <Image
            src={job.image}
            alt="Wlist web page"
            class='h-auto w-full md:h-full md:w-auto'
            transition:name={`hero-${job.id}`}
          />
        </div>
        <div class="flex gap-4 h-full w-full justify-between sm:w-1/2 sm:flex-col md:justify-center">
          <h4 class="text-slate-100 text-lg font-bold sm:text-2xl md:text-3xl">
            {job.title}
          </h4>
          <ul class='items-center hidden sm:gap-4 sm:flex'>
            {
              job.stack?.map((tech) => (
                <li>
                  <div class='size-6 bg-slate-800 p-2 rounded-full shadow-lg sm:size-10'>
                    <Image
                      src={tech.icon ?? ''}
                      alt={`${tech.name} logo`}
                      width={tech.width ?? 128}
                      height={tech.height ?? 128}
                      class="h-full w-auto object-contain"
                    />
                  </div>
                </li>
              ))
            }
          </ul>
        </div>
      </a>
    </li>
  ))
}

</ul>

<style>
  .showUp {
    animation-name: showUp;
    animation-duration: 2s;
    animation-timeline: view(block 85% 2%);
    animation-timing-function: linear;
  }
  
  @keyframes showUp{
    0% {
      opacity: 0;
      transform: translateY(100%);

    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>