---
import projects from '../../public/projects.json'
export interface Props {
  lang: string
}

const { lang } = Astro.props
let imageClasses = 'overflow-hidden rounded-lg shadow-md image-container flex justify-center items-center w-full'
let descriptionClasses = 'text-zinc-200 text-center sm:text-xl lg:text-2xl lg:w-full md:text-left '
let skillsClasses = 'flex flex-wrap gap-2 md:gap-x-4 justify-center lg:justify-start '
let btnsClasses = 'flex gap-4 justify-center lg:justify-start '

---
<ul class='flex flex-col gap-4 py-6 lg:gap-14'>
  {
    projects.map(project => {
      let titleClasses = 'text-center font-bold text-3xl text-zinc-200 mb-3 md:mb-0 md:text-4xl md:text-start italic '
      let imageAndBtnsContainer = 'flex flex-col-reverse md:flex-col items-center gap-4 lg:flex-col md:row-start-2 '
      let infoContainer = 'mt-4 md:mt-0 flex flex-col gap-8 lg:row-start-2 w-full '
      let containerClasses = 'flex flex-col shadow-lg bg-zinc-800 rounded-lg text-zinc-100 gap-2 sm:gap-5 lg:gap-x-6 md:grid md:grid-cols-2 px-4 py-6 lg:px-8 lg:py-6 '

      if (project.id % 2 === 0) {
        titleClasses += 'md:col-start-2'
        imageAndBtnsContainer += 'md:col-start-1'
        infoContainer += 'md:col-start-2'
        containerClasses += 'md:bg-gradient-to-l'
			} else {
        titleClasses += 'md:col-start-1'
        imageAndBtnsContainer += 'md:col-start-2'
        infoContainer += 'md:col-start-1'
        containerClasses += 'md:bg-gradient-to-r'
			}
      return (
      <li class={containerClasses}>
        <h3 class={titleClasses}>
          {project.title}
        </h3>
        <div class={imageAndBtnsContainer}>
          <div class={imageClasses}>
            <img class='h-auto w-full object-center rounded-lg' src={project.image} alt={project.title} loading='lazy'>
          </div>
          <div class={btnsClasses}>
            <a class='hover:border hover:border-white hover:text-white py-2 px-4 text-zinc-300 border border-zinc-400 rounded-lg h-fit text-sm' href={project.repo} target='_blank'>
              View on GitHub
            </a>
            <a class='bg-[#CC9C00] border border-[#FFD449] text-zinc-800 py-2 px-4 rounded-lg h-fit text-sm hover:bg-[#FFD449]' href={project.url} target='_blank'>
              Visit page
            </a>
          </div>
        </div>
        <div class={infoContainer}>
          <p class={descriptionClasses}>
            {lang === 'en' ? project.description.en : project.description.es}
          </p>
          <ul class={skillsClasses}>
            {
              project.skills && project.skills.map((skill) => {
                  return (
                    <li class='flex gap-2 items-center border border-zinc-500 w-fit h-fit py-2 px-4'>
                      <span class='h-4 w-4 lg:h-6 lg:w-6'>
                        <img src={skill.icon} alt={`${skill.name} icon`} />
                      </span>
                      <span class='text-sm text-zinc-200'>{skill.name}</span>
                    </li>
                  )
                })
              }
          </ul>
        </div>
      </li>
      )
    })
  }
</ul>
<style>
  .image-container {
    width: min(100%, 25rem);
    height: min(40vw, 15rem);
    height: fit-content;
  }
</style>