---
import projects from '../../public/projects.json'
export interface Props {
  lang: string
}

const { lang } = Astro.props
let imageClasses = 'overflow-hidden rounded-lg shadow-md image-container flex justify-center items-center '
let descriptionClasses = 'text-slate-50 text-center sm:text-xl md:text-2xl lg:w-full lg:text-left '
let skillsClasses = 'flex flex-wrap gap-4 justify-center lg:justify-start '
let btnsClasses = 'flex gap-4 justify-center lg:justify-start '

---
<ul class='flex flex-col gap-4 py-6 lg:gap-14'>
  {
    projects.map(project => {
      let titleClasses = 'text-center font-bold text-3xl text-slate-100 md:text-4xl lg:text-start '
      let imageAndBtnsContainer = 'flex flex-col items-center gap-4 lg:flex-col lg:row-start-2 '
      let infoContainer = 'flex flex-col gap-5 lg:row-start-2 '
      let containerClasses = 'p-4 flex flex-col shadow-lg gap-2 bg-gradient-to-b from-cyan-700 to-cyan-900 text-slate-100 py-6 sm:gap-5 lg:grid lg:p-4 '

      if (project.id % 2 === 0) {
        titleClasses += 'lg:col-start-2'
        imageAndBtnsContainer += 'lg:col-start-1'
        infoContainer += 'lg:col-start-2'
        containerClasses += 'lg:bg-gradient-to-l'
			} else {
        titleClasses += 'lg:col-start-1'
        imageAndBtnsContainer += 'lg:col-start-2'
        infoContainer += 'lg:col-start-1'
        containerClasses += 'lg:bg-gradient-to-r'
			}
      return (
      <li class={containerClasses}>
        <h3 class={titleClasses}>{project.title}</h3>
        <div class={imageAndBtnsContainer}>
          <div class={imageClasses}>
            <img class='h-auto w-full object-center rounded-lg' src={project.image} alt={project.title} loading='lazy'>
          </div>
          <div class={btnsClasses}>
            <a class='hover:border hover:border-white hover:text-white py-2 px-4 text-slate-100 border border-slate-300 rounded-lg h-fit text-sm' href={project.repo} target='_blank'>View on GitHub</a>
            <a class='bg-[#CC9C00] border border-[#FFD449] text-cyan-900 py-2 px-4 rounded-lg h-fit text-sm hover:bg-[#FFD449]' href={project.url} target='_blank'>Visit page</a>
          </div>
        </div>
        <div class={infoContainer}>
          <p class={descriptionClasses}>
            {lang === 'en' ? project.description.en : project.description.es}
          </p>
          <ul class={skillsClasses}>
            {
              project.skills && project.skills.map((skill) => {
                  return (
                    <li class='flex gap-2 items-center border border-slate-300 w-fit h-fit py-2 px-4'>
                      <span class='h-6 w-6'>
                        <img src={skill.icon} alt={`${skill.name} icon`} />
                      </span>
                      <span class='text-sm text-slate-50'>{skill.name}</span>
                    </li>
                  )
                })
              }
          </ul>
        </div>
      </li>
      )
    })
  }
</ul>
<style>
  .image-container {
    width: min(100%, 25rem);
    height: min(40vw, 15rem);
    height: fit-content;
  }
</style>